html {
      box-sizing: border-box;
  }

 *, *:before, *:after {
 	box-sizing: inherit;
 }

.top-navigation {
	background-color: #fff;
}

.content {
	width: 970px;
    height: 70px;
    margin: 0 auto;
    padding: 0px 15px;

}
 .top-navigation .logo {
 	height: 70px;
 }

.top-navigation .links li{
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links li:hover{
  cursor: pointer;
  color: #333333
}

.top-navigation .links > .active {
  font-weight: 500;
  color: #4c5058;
}

.top-navigation .links {
	float: right;
	font-family: 'roboto', sans-serif;
	color: #838994;
	font-size: 16px;
	margin-top: 25px;
	-webkit-font-smoothing:antialiased;
}

.introduction .content h1 {
	margin-top: 280px;
	font-size: 3.125rem;
}

.introduction .content h2 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}

.introduction h1, .introduction h2 {
	color: white;
	text-align: center;
	font-weight: 200;
	font-family: 'roboto', sans-serif;
}

button {
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size:1.125rem;

}

.introduction .buttons {
	margin-top: 1.563rem;
	text-align: center;
	color:white;
}

button:hover {
	cursor: pointer;
	background-color: #d9400e;
	border-color: #cf3d0e;
}

.introduction div {
	display: block;
}

.introduction {
	background-image: url('images/firstbackgroundcopy.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	height: 45.938rem;
	overflow: auto;
}

.cases {
	background-color: #fff;
	padding-bottom: 80px;
}

.devices li {
	display: inline-block;
}

.cases h3 { 
    font-size: 2.75rem;
    margin:1.625rem 0 3.125rem;
    font-weight: 300;
    font-family: 'roboto', sans-serif;
}

.cases .content {
	text-align: center;
	margin-top: 126px;
	color: black;
}

.cases .devices h4 {
	font-size: 1.5rem;
	font-weight: 400;
	margin:2.5rem 0px 1.875rem;
	font-family: 'roboto', sans-serif;
}

.social {
	background-color: #fff;
	overflow: auto;
	padding-bottom:9.375rem;
	text-align: center;
}


.social .hr {
	border:0;
	border-top: 1px solid #eaebec;
	margin 1.313rem 0;
}
.social .icons > li {
	display: inline-block;
	text-align: center;
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	margin: 1.25rem 5px;
	border:1px solid #eaebec;
	padding: 0.625rem 0;
}

.social .copy {
	font-weight:300;
	font-size: 0.9rem;
	color: #838994;
}

.icons {
	padding-left: 0px;
}
